:root {
    --color-1: #fff;
    --color-2: #ececec;
    --color-3: #6495ed;
    --color-4: #F9B329;
    --color-5: #333;
    --color-6: #222;
    --radius-1: 1.5rem;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

.heading-title, .modal-title {
    color: var(--color-3) !important;
}

body {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    line-height: 1.7;
    background-color: var(--color-2);
    color: var(--color-5);
    -webkit-transition: background-color 800ms ease;
    transition: background-color 800ms ease;
}

body.dark {
    background-color: var(--color-6);
    color: var(--color-2);
}

.modal {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.modal-content.dark {
    background-color: var(--color-5);
}


/**** Scrollbar ****/
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--color-2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--color-3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/**** Scrollbar End****/

.port-img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.section-1-content {
    background-color: var(--color-2);
    border-radius: var(--radius-1);
}

.section-3-content {
    background-color: var(--color-2);
    border-radius: var(--radius-1);
}

.section-2-content, .section-3-content {
    padding: 2rem;
}

.card, ul, li {
    background-color: transparent !important;
}

.card-body {
    padding: 0.6rem !important;
}

.position {
    color: var(--color-3);
}

.btn1 {
    background-color: var(--color-3);
    color: var(--color-1);
}

.btn1:hover {
    background-color: var(--color-4);
    color: var(--color-1) !important;
}

.btn-mode {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    z-index: 2;
}

.mode-icon {
    width: 1.5rem;
    height: 1.5rem;
}


.dark-button {
    background-color: var(--color-6);
    color: #fff;
}

.dark-button:hover {
    color: #fff !important
}

.light-button {
    background-color: #eaeaea;
}

.light-button:hover {
    color: var(--color-5) !important;
}

.dark-button i {
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
}

h1.dark, h3.dark {
    color: var(--color-2);
}

.section-1-content.dark, .section-3-content.dark {
    background-color: var(--color-5);
}

.list-group-item.dark {
    color: var(--color-2);
}

/* ---------------------------------------------------
MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -90px !important;
    }

    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar.active {
        margin-left: 0px !important;
    }

    #sidebar .sidebar-header h3, #sidebar .CTAs {
        display: none;
    }

    #sidebar .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        padding: 20px 10px;
    }

    #sidebar ul li a span {
        font-size: 0.85em;
    }

    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }

    #sidebar ul ul a {
        padding: 10px !important;
    }

    #sidebar ul li a i {
        font-size: 1.3em;
    }

    #sidebar {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

/**** Media Queries ***/

@media (min-width: 280px) {
    .nav-heading {
        display: none;
    }

    .mobile-heading {
        display: block;
        text-align: center;
    }

    #sidebar ul li a {
        font-size: 0.6rem;
    }
}

@media (min-width: 320px) {
    .res {
        display: inline-block;
    }
}

@media (min-width: 480px) {}

@media (min-width: 600px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {
    .res {
        display: none;
    }
}

@media (min-width: 1024px) {}